@use '../variables';
@use '../mixins';
    
#about {
    padding: 8px 16px;
    .about {
        &__title {
            margin-top: 100px;
            color: variables.$primary-color-100;
            font-size: 1rem;
            @include mixins.center;
            justify-content: start;
            gap: 1rem;
    
            &:after {
                @include mixins.gradient-border;
            }
        }
    }
}
        