@use '../variables';
@use '../mixins';
    
#moon-zoom-out-parallax {
    position: absolute;
    z-index: -1;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    .moon-zoom-out-parallax {
        &__zoom-out-background {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
    .parallax {
        transition: 0.45s cubic-bezier(.2,.49,.32,.99);
    }
}

@media (min-aspect-ratio: 16/9) {
    .moon-zoom-out-parallax {
        &__zoom-out-background {
            height: auto;
            width: 125vw;
        }
    }
}

@media (max-aspect-ratio: 16/9) {
    .moon-zoom-out-parallax {
        &__zoom-out-background { 
            height: 125vh;
            width: auto;
        }
    }
}
        