@use '../variables';
@use '../mixins';
    
#navbar {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    position: absolute;
    width: 100%;
    .navbar {
        &__title {
            &__text {
                width: 100%;
                color: variables.$primary-color-100;
                font-size: 2rem;
                background: variables.$primary-color-100;
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }
        &__list {
            list-style: none;
            display: flex;
            &__item {
                padding: 8px;
                &__link {
                    color: variables.$primary-color-100;
                    text-decoration: none;
                }
            }
        }
    }    
}
        