@use '../variables';
@use '../mixins';
    
#projects {
    height: 100vh;
    width: 100vw;
    position: relative;
    overflow: hidden;
    .projects {
        &__content {
            margin-top: 8vh;            
            padding: 16px;
            height: 92vh;
            &__title {
                color: variables.$primary-color-100;
                font-size: 1rem;
                @include mixins.center;
                justify-content: start;
                gap: 1rem;
        
                &:after {
                    @include mixins.gradient-border;
                }
            }
            &__track {
                display: flex;
                gap: 4vmin;
                position: absolute;
                left: 50%;
                top: 50%;
                overflow: hidden;
                transform: translate(0, -50%);
                user-select: none;
                &__image-container {
                    width: 40vmin;
                    height: 56vmin;
                    overflow: hidden;
                    position: relative;
                    &__text-container {
                        width: 40vmin;
                        height: 56vmin;
                        position: absolute;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        &__text {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            width: 100%;
                            color: variables.$primary-color-600;
                            font-size: 32px;
                            margin: 16px 0;
                            z-index: 1;
                            cursor: pointer;
                        } 
                    }
                    &__text {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        position: absolute;
                        width: 40vmin;
                        height: 56vmin;
                        width: 100%;
                        color: variables.$primary-color-100;
                        font-size: 32px;
                    }
                    &__image {
                        width: 40vmin;
                        height: 56vmin;
                        object-fit: cover;
                        object-position: 100% center;
                    }
                }
            }
        }
    }
    @media screen and (max-width: 720px) {
        .projects {
            &__content {
                &__track {
                    &__image-container {
                        &__text-container {
                            &__text {
                                font-size: 14px;
                            }
                        }
                    }
                }
            }
        }
    }
}
        