@use '../variables';
@use '../mixins';
    
#skills {
    height: 100vh;
    width: 100vw;
    position: relative;
    .skills {
        &__content {
            margin-top: 8vh;            
            padding: 16px;
            height: 92vh;
            &__title {
                color: variables.$primary-color-100;
                font-size: 1rem;
                @include mixins.center;
                justify-content: start;
                gap: 1rem;
        
                &:after {
                    @include mixins.gradient-border;
                }
            }
            &__list-container {
                margin-top: 16px;
                overflow-y: scroll;
                scroll-behavior: smooth;
                max-height: 70vh;
                -ms-overflow-style: none;
                scrollbar-width: none;
                &__item {
                    padding: 8px 16px;
                    margin-top: 16px;
                    display: flex;
                    align-items: center;
                    opacity: 1;
                    transition: all 0.3s ease;
                    user-select: none;
                    position: relative;
                    background: rgba(255, 255, 255, 0.05);
                    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
                    backdrop-filter: blur(5px);
                    border-bottom: 1px solid variables.$primary-color-100;
                    border-radius: 8px;
                    &__icon {
                        user-select: none;
                        transition: all 0.3s ease;
                        &:hover {
                            filter: drop-shadow(0 0 5px variables.$primary-color-100); 
                        }
                    }
                    &__text {
                        color: variables.$primary-color-100;
                        user-select: none;
                        width: 100%;
                        transition: all 0.3s ease;
                        margin-left: 8px;
                    }
                    .default-size-icon {
                        width: 60px;
                        height: 60px;
                    }
                }
                &::-webkit-scrollbar {
                    display: none;
                }                
            }
        }
    }
}