@font-face {
    font-family: 'Elianto';
    src: url('../fonts/Elianto-Regular.ttf') format('truetype'),
         url('../fonts/Elianto-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }