@use 'variables';
@import './fonts.scss';

* {
    padding: 0;
    margin: 0;
    font-family: variables.$font-stack;
    box-sizing: border-box;
}

body {
    background-color: variables.$primary-color-500;
    font-family: 'Elianto', sans-serif;
    margin: 0;
    padding: 0;
    overflow: hidden;
    min-height: 100vh;
    position: relative;
}

a, svg {
    transition: .4s;
}

#moon-window-background {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

  

@media (min-aspect-ratio: 16/9) {
    #moon-window-background {
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio: 16/9) {
    #moon-window-background {
        width: auto;
        height: 100%;
    }
}
