@use 'variables';
@import './fonts.scss';

* {
    padding: 0;
    margin: 0;
    font-family: variables.$font-stack;
    box-sizing: border-box;
}

body {
    background-color: variables.$primary-color-600;
    font-family: 'Elianto', sans-serif;
    margin: 0;
    padding: 0;
    overflow: hidden;
    min-height: 100vh;
    position: relative;
}

a, svg {
    transition: .4s;
}

::selection {
    background-color: variables.$primary-color-600;
}

.neon-text {
    outline: none;
    animation: neon 5s linear infinite;
}

@keyframes neon {
    0%, 18%, 20%, 50.1%, 60%, 65.1%, 80%, 90.1%, 92% {
        text-shadow: 0 0 10px variables.$primary-color-100;
    }
    18.1%, 20.1%, 30%, 50%, 60.1%, 65%, 80.1%, 90%, 92.1%, 100% {
        text-shadow: 0 0 10px variables.$primary-color-100,
        0 0 20px variables.$primary-color-100;
    }
}

#moon-window-background {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}  

@media (min-aspect-ratio: 16/9) {
    #moon-window-background {
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio: 16/9) {
    #moon-window-background {
        width: auto;
        height: 100%;
    }
}
