$font-stack: "Helvetica";
$text-color: #FFF;
$text-color-secondary: #a6a6a6;
$body-bg-color: #0c0c0c;
$body-bg-color-transparent: #0c0c0c00;
$bg-color: #111;
$bg-color-secondary: #1d1d1d;
$container-border-radius: 10px;
$card-border-radius: 5px;